/********************************************************
                         Header
********************************************************/


@import "_extends.scss";

body {
    box-sizing: border-box;
}

.container {

    &.container-1 {
        padding-left: 1em;
    }

    @media screen and (min-width: 1410px) {
        width: 80%;
    }
}

.nav-global {
    padding-top: 1em;


/*************************
      Overlay-Burger
**************************/


    .overlay {
        content: '';
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
        position: absolute;;

        .burger {

        }
    }


    .nav-site {

        @media screen and (min-width: 1200px) {
            padding-left: 2em;
        }


/*************************
         nav-home
**************************/

        .nav-home {
            display: inline-block;
            padding: 0;
            height: 3em;
            padding-right: 3em;
            border-right: 1px solid black;

            @media screen and (min-width: 1200px) {
                float: left!important;
       		}

            @media screen and (max-width: 1200px) {
                display: block;
                float: left!important;
                margin-left: 1em;
            }

            .dropdown-menu {
                left: 0;
            }

            .icon-plant-arrow {
                @include background-content('plant-arrow.png', initial);
                @include buttonless(5em, 4em);
                bottom: 0.2em;

            }

            .icon-home {
                @include background-content('home.png', initial, center);
                @include buttonless(1.625em, 1.625em);
                bottom: -1em;
                margin-left: 2em;
            }

            .icon-notifications {
                @include background-content('notification.png', initial, center);
                @include buttonless(1.625em, 1.625em);
                bottom: -1em;
                margin-left: 2em;
            }
        }

/*************************
         nav-pages
**************************/

        .nav-pages {
            display: block;
            position: relative;

            @media screen and (min-width: 1200px) {
                display: inline-block;
            }

            @media screen and (max-width: 767px) {
                display: none;
            }

            .nav-pages-ul {
                list-style: none;

                @media screen and (min-width: 1200px) {
                    margin-left: 3em;
           		}

                @media screen and (max-width: 1200px) {
                    position: absolute;
                    top: 4.5em;
           		}

                 .nav-pages-li {
                     display: inline;

                     &.active a {
                         background-color: $color-page-content-pill;
                         color: $color-nav-page-content-pill-a;
                     }

                     &:not(:first-child){
                         margin-left: 3em;
                     }

                     a {
                         color: $color-nav-pages-a;
                         font-size: 1.15em;
                         text-decoration: none;
                     }
                 }
            }
        }
    }

/*************************
        nav-account
**************************/

    .nav-account {
        display: inline-block;

        @media screen and (max-width: 1200px) {
            margin: 0 0 4em 5em;
        }

        .nav-account-content {
            float: right;

            .button + .button {
                margin: 0 1.5em 0 2em;
            }

            .search {
                @include background-content('loop.png', initial);
                @include buttonless(1.2em, 1.3em);
                bottom: -1.3em;
                right: 2em;
            }

            .profile-picture {
                @include background-content('profile-picture.png', initial);
                @include buttonless(4em, 4em);
            }

            .profile-name {
                color: $color-profile-name;
                font-size: 1.25em;
                margin-left: 0.5em;
                text-decoration: none;

                &::after {
                @include background-content('drop-down.png', cover);
                position: absolute;
                right: 0;
                height: 0.5em;
                top: 9px;
                }
            }
        }
    }
}

/*************************
     nav-page-content
**************************/

.nav-page-content {
        background-color: $color-nav-page-content-back;

    .nav-page-content-div {
        padding: 1em 0;
        margin: 0 auto;
        padding-left: 2.1em;
        padding-right: 2.1em;

        @media screen and (min-width: 992px) {
            width: 970px;
        }

        @media screen and (min-width: 1200px) {
            width: 1170px;
        }

        @media screen and (min-width: 1410px) {
            width: 80%;
        }

        a + a {
            margin-left: 2em;

        }

        a {
            text-decoration: none;
            color: $color-nav-page-content-a;
            display: inline-block;
            font-size: 1.5em;
            font-weight: 200;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 2em;

            @media screen and (max-width: 767px) {
                display: none;
            }

            &:hover {
                border-bottom: 2px solid $color-nav-page-content-a;
                margin-bottom: -2px;
            }
        }
    }
}

/********************************************************
                         Content
********************************************************/

.wrapper {
    background-color: $color-content-back;
    min-height: 50em;
    padding: 3em 0 15em;

    .container {

        .content {

            @media screen and (max-width: 400px) {
                padding-right: 0;
                padding-left: 0;
            }

            .section {
                @extend %content-border;
                display: inline-block;
                margin-top: 2em;
                background-color: $color-section-back;
                width: 100%;
                padding: 0 1.75em;

                @media screen and (max-width: 400px) {
                    padding: 0 1.25em;
                }

                h3 {
                    display: inline-block;
                    position: relative;
                    margin: 1.5em 0.75em 0.75em;
                    font-size: 20px;

                    @media screen and (max-width: 400px) {
                            font-size: 1.3em;
                            margin-left: 0;
                            margin-right: 0;

                    }

                    &::after {
                        @extend %underline;
                    }
                }
            }

            /*************************
                 section-members
            **************************/


            .section-members {
                min-height: 28em;

                .members-body {
                    text-align: center;
                    margin-top: 1em;

                    @media screen and (max-width: 455px) {
                        margin-top: 2em;
                    }

                    .member {
                        list-style: none;
                        float: left;
                        margin-bottom: 3em;

                        @media screen and (min-width: 1200px) {
                            width: 14em;
                        }

                        @media screen and (max-width: 768px) {
                            &:nth-child(2n+1) {
                                clear: both;
                            }
                        }

                        @media screen and (max-width: 455px) {
                            float: none;
                            width: 100%;
                            margin-bottom: 2em;
                        }

                        &:last-child {
                            margin-bottom: 4em;
                        }

                        .member-picture {
                            height: 12em;

                            @media screen and (max-width: 991px) {
                                height: 9.5em;
                            }

                            &.avatar-1 {
                                @include background-content('1.png', contain, center);
                            }

                            &.avatar-2 {
                                @include background-content('2.png', contain, center);
                            }

                            &.avatar-3 {
                                @include background-content('3.png', contain, center);
                            }

                            &.avatar-4 {
                                @include background-content('4.png', contain, center);
                            }
                        }

                        .member-name {

                            h4 {
                                font-size: 20px;
                            }
                        }

                        .member-join {

                            p {
                                font-size: 1.1em;
                                color: $color-section-p;
                            }
                        }

                        .member-footer {

                            button + button {
                                margin-left: 0.75em;
                            }

                            .view {
                                @include background-content('eye.png', cover, center);
                                @include buttonless(1.25em, 1.25em)
                            }

                            .edit {
                                @include background-content('pen.png', cover, center);
                                @include buttonless(1.25em, 1.25em)
                            }
                        }
                    }
                }
            }

            /*************************
                  Section-Admin
            **************************/


            .section-admin {
                min-height: 28em;
                position: relative;

                @media screen and (max-width: 400px) {
                    min-height: initial;
                }

                .big-man {
                    position: relative;
                    z-index: 1;

                    &::before {
                        @include background-content('big-man.svg', contain);
                        background-position: 100% calc(100% + 2px);
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        right: -25px;
                        bottom: -1px;
                        z-index: -1;

                        @media screen and (max-width: 400px) {
                            right: -18px;
                        }
                    }
                }

                .admin-info {
                    margin: 1em 0.9em 2em;
                    min-height: 8em;
                    font-size: 1.2em;
                    color: $color-section-p;

                    @media screen and (max-width: 400px) {
                        font-size: 0.98em;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }

                li + li {
                    margin-left: 2.2em;
                }

                h5 {
                    margin-left: 2.2em;
                    font-size: 1.25em;
                    font-weight: 600;

                    @media screen and (max-width: 430px) {
                        margin-left: 0;
                    }

                    @media screen and (max-width: 400px) {
                        font-size: 1.15em;
                    }
                }

                .email-ul {
                    list-style: none;
                    margin: 0;

                    .email-li {
                        display: inline-block;

                        p {
                            font-size: 1.25em;
                            color: $color-section-p;

                            @media screen and (max-width: 400px) {
                                font-size: 1.15em;
                            }
                        }
                    }
                }

                .status-ul {
                    list-style: none;
                    margin: 0;

                    .status-li {
                        display: inline-block;

                        .dropdown {

                            button {
                                border: none;
                            	background-color: transparent;;
                            	padding: 0;
                                background-image: none;
                                vertical-align: initial;
                                display: inline-block;
                                box-shadow: none;
                                font-size: 1.25em;
                                color: $color-can-edit;

                            }
                        }
                    }
                }

                .save-button {
                    padding-bottom: 60px;

                    button {
                        float: right;
                        color: $color-save;
                        background-color: $color-save-back;
                        background-image: none;
                        display: inline-block;
                        padding: 3px 14px;
                        letter-spacing: 2px;
                        border-radius: 11px;
                        font-weight: 100;
                        margin-top: 16px;

                        @media screen and (max-width: 400px) {
                            font-size: 0.95em;
                        }
                    }
                }
            }


            /*************************
                  Section-Comments
            **************************/


            .section-comments {

                h3 {
                    @media screen and (max-width: 991px) {
                        margin-bottom: 0;
                    }
                }

                .comment {
                    padding: 4em 7.5em 2em;
                    position: relative;

                    @media screen and (max-width: 991px) {
                        padding: 4em 0 2em;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid black;
                        padding-top: 4em;
                    }

                    &:last-child {

                    }

                    .post-time {
                        margin: 0;
                        color: $color-section-p;

                        @media screen and (max-width: 991px) {
                            padding-left: 9rem;
                        }
                    }

                    .comment-name {
                        font-size: 1.25em;
                        margin-top: 0.25em;

                        @media screen and (max-width: 991px) {
                            padding-left: 9rem;
                        }
                    }

                    .commented {
                        margin: 2em 0;
                        color: $color-section-p;
                        font-size: 1.2em;
                        font-weight: 200;
                    }

                    .comment-section {
                    	padding-bottom: 0.5em;
                    	border: 1px solid $color-textarea-border;
                        margin-bottom: 0.5em;
                    	display: none;

                    	.textarea {
                    		width: 100%;
                    		min-height: 7em;
                    		box-sizing: border-box;
                    		outline: none;
                    		margin-bottom: 6px;
                    		border: none;
                            font-size: 1.2em;

                    			&:focus {
                    			    border: 1px solid $color-textarea-focus;
                    			    box-shadow: 0px 0px 2px 2px $color-textarea-focus;
                    		}
                    	}

                    	.comment-section-footer {
                    		list-style: none;
                    		margin: 0;
                    		border: none;
                    		height: 1em;
                            position: relative;

                    		.attachments {
                    			float: left;
                    			display: inline-block;

                    			.attachment {
                    				float: left;
                    				display: inline-block;
                    				margin-left: 1em;
                    			}

                    			.photo {
                    				background-image: url('../img/camera.png');
                    				border:none;
                    				background-size: contain;
                    				height: 1em;
                    				width: 1em;
                    				background-color: initial;
                    				background-position-y: center;
                    			}

                    			.video {
                    				background-image: url('../img/video.png');
                    				border: none;
                    				background-size: contain;
                    				height: 1em;
                    				width: 1.2em;
                    				background-color: initial;
                    				background-position-y: center;
                    				background-repeat: no-repeat;
                    			}
                    		}

                    		.footer-button {
                    			float: right;
                    			display: inline-block;
                                bottom: -4px;
                                position: absolute;
                                right: -6px;

                    			.post-button {
                    				border-radius: 0.6em;
                    				margin: 0;
                    				font-size: 0.8em;
                    			    padding: 2px 12px;
                    		        margin-right: 1em;
                    		        background-color: $color-post;
                                    font-weight: 600;
                    		        border: none;
                    			}
                    		}
                    	}
                    }

                    .add-comment {
                        position: absolute;
                        right: 0px;
                        top: 33px;
                        color: $color-add-comment;
                        font-weight: 400;
                        font-size: 1.15em;

                        @media screen and (max-width: 500px) {
                            display: inline-block;
                            width: 100%;
                            text-align: right;
                            margin-bottom: 1em;
                            position: initial;
                            top: initial;
                            right: initial;
                        }

                        &:hover {
                            color: $color-add-comment-hover;
                            text-decoration: none;
                            font-weight: 700;
                        }

                        &:focus {
                            text-decoration: none;
                        }
                    }
                }

                .comment-1 {

			    	&::before {
			    		@include background-image('2.png');
			    	}
				}

			    .comment-2 {

			    	&::before {
			    		@include background-image('3.png');
			    	}
			    }

			    .comment-3 {

			    	&::before {
			    		@include background-image('4.png');
			    	}
			    }
			}


            /*************************
                  Section-List
            **************************/
// TODO: clean up this section

            .section-list {
                min-height: 30em;

                .checkbox {
                    margin-left: 1em;

                    @media screen and (max-width: 400px) {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-bottom: 3em;
                    }

                    label {
                        margin: 1em 0;
                        padding-left: 2.5em;
                        position: relative;


                        &:hover {
                            font-weight: 700;
                        }

                        input {
                            z-index: -1;
                            position: absolute;
                            opacity: 0;
                            margin: 0;

                        }

                        p {
                            font-size: 1.15em;
                            color: $color-section-p;
                            margin: 0;

                            @media screen and (max-width: 400px) {
                                font-size: 0.98em;
                            }

                            &:hover {
                                color: black;
                            }
                        }

                        .box {
                            @include background-content('unchecked.png', contain, center);
                            width: 1.5em;
                            height: 1.5em;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

// TODO: clean this up

.content-admin {
    z-index: 2;
}

.content-list {
    z-index: 1;
}

.disabled {
    &:hover {
        color: $color-disabled!important;
    }
}




/********************************************************
                       JavaScript
********************************************************/


.down-arrow {
    background-image: url('../img/down-arrow-solid.png')!important;
}

.disable {
	display: block!important;
}

.checked-mark {
    background-image: url('../img/checked-mark.png')!important;
}

// Hack to solve the outline issue.
#outline {
	content: '';
	position: absolute;

	&:focus {
		outline: none;
	}
};

.outline-hover {
    &:hover {
        outline: none!important;
    }
}
// Hack to solve the outline issue.
